font-family =
font-family = SpaceMono Nerd Font Mono

font-family =
font-family = Iosevka Term SS17

font-family =
font-family = SauceCodePro Nerd Font


font-family =
font-family = "Menlo Nerd Font"

font-family =
font-family = VictorMono Nerd Font Mono

font-family =
font-family = "FantasqueSansM Nerd Font Mono Thin"

adjust-cell-height = 2
adjust-cell-width = 1
font-feature = -calt

keybind = ctrl+shift+e=prompt_surface_title